</div> 
<div class="drawer-side">
  <label for="my-drawer-3" class="drawer-overlay"></label> 
  <ul class="menu w-80 bg-base-200">
    <li>
        <div class="avatar">
            <div class="rounded-full w-14 h-14 m-2">
            <img src="https://i.pravatar.cc/300">
            </div>
            <span>Logged in as {username}</span>
        </div>
    </li>
    <div class="divider"></div> 
    <!-- Sidebar content here -->
    <li class="bordered"><a>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /></svg>
        Home
    </a>
    </li>
    <li><a>Sidebar Item</a></li>
    <li><a>Sidebar Item</a></li>
    <li><a>Sidebar Item</a></li>
    <!-- settings  theme toggle at bottom -->
    <li class="mt-auto">
        <button data-toggle-theme="dark,light" data-act-class="ACTIVECLASS">Change Theme</button>
    </li>

  </ul>
</div>
</div>