</div> 
<div class="drawer-side">
  <label for="my-drawer-3" class="drawer-overlay"></label> 
  <ul class="menu p-4 w-80 bg-base-200">
    <!-- Sidebar content here -->
    <li><a>Sidebar Item 1</a></li>
    <li><a>Sidebar Item 2</a></li>
    <!-- theme toggle at bottom -->
    <li class="mt-auto">
        <button data-toggle-theme="dark,light" data-act-class="ACTIVECLASS">Change Theme</button>
    </li>

  </ul>
</div>
</div>